@import "tailwindcss";

@layer theme, base, components, utilities;
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
html {
    scroll-behavior: smooth;
}


@layer base {
    * {
         border-:[var(--border)];
    }

    body {
        bg-background: text-foreground;
    }
}